.article {
  padding: 8px;
}

.select-section {
  display: flex;
}


.select {
  border: 0;
  outline: none;
  font-size: 1.2rem;
}
.index-classes {
  width: 40%;
  padding: 8px;
}
.index-spells {
  width: 60%;
  padding: 8px;
}

.select::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(24, 23, 23);
  border-radius: 5px;
  border: 1px solid rgb(118, 202, 118);
}
.select::-webkit-scrollbar-thumb {
  border: 1px solid rgb(118, 202, 118);
  border-radius: 5px;
} 



.index-option {
  padding: 8px 0;
  background-color: rgb(24, 23, 23);

}
.index-option:hover {
  background-color: rgb(118, 202, 118);
}
.index-option:checked {
  background-color: green;
  color: pink;
}
/* .index-option:focus {
  background-color: green;
  color: pink;
} */

.index-option:active {
  font-weight: bold;
}

.p-no-spells {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 16px;
  width: 65%;
  text-align: center;
  align-self: center;
}

.info-section {
  padding: 8px;
  font-size: 1.2rem;
}

.info-section__name {
  font-size: 1.6rem;
  text-align: center;
}